.spec{
    width: 1210px;
    margin: 0 auto;
}
.reviews-title {
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 52px;
    color: #3C3C3C;
}
.title-inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.author__photo {

    margin-right: 15px;
    border: 1px solid #9cc1c9;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 30px;
    flex: 0 0 30px;
}
.author__photo--lg {
    width: 300px;
    height: 300px;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 78px;
    flex: 0 0 78px;
}
.reviews-title-h3 {
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    color: #3C3C3C;
}
.person-card {
    padding: 33px 37px 48px 42px;
    border: 1px solid #9cc1c9;
    border-radius: 10px;
    display: flex;
}
.btn-accent {
    font-size: 16px;
    font-weight: 500;
    line-height: 21px;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    width: 219px;
    height: 50px;
    cursor: pointer;
    color: #fff;
    border: none;
    border-radius: 30px;
    background: #259BABFF ;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    margin-top: 15px;
    justify-content: center;
    text-decoration: none;
    transition: all 0.3s;
}
.btn-accent:hover{
    background: #198a97;

}
.patient-card{
    border: 1px solid #9cc1c9;
    padding: 33px 37px 48px 42px;
    border-radius: 10px;

}

.btn-secondary{
    font-size: 16px;
    font-weight: 500;
    line-height: 21px;
    margin-left: 20px;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    width: 219px;
    height: 50px;
    cursor: pointer;
    color: #fff;
    border: none;
    border-radius: 30px;
    background: #259BABFF ;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-decoration: none;
    transition: all 0.3s;
}
.btn-secondary:hover{
    background: #198a97;

}
.person-card__text{
    width: 100%;
}
input,select{
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    transition: border 0.3s ease;
}
input:focus {
    border-color:#2C9EAE;
    outline: none;
}
select:focus {
    border-color:#2C9EAE;
    outline: none;
}
textarea {
    width: 100%;
    padding: 10px;
    height: 224px;
    font-size: 16px;
    color: #3C3C3C;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    transition: border 0.3s ease;
    outline: none; /* Убираем обводку при фокусе */
}

textarea:focus {
    border: 1px solid #2C9EAE; /* Можно задать цвет рамки при фокусе, если нужно */
}

.tabs{
    padding: 10px 15px;
    border: none;
    background-color: #2C9EAE;
    cursor: pointer;
    color: white;
    margin-right: 10px;
    transition: all 0.3s;
}
.tabs2{
    padding: 10px 15px;
    border: none;
    background-color: #f0f0f0;
    cursor: pointer;
    margin-right: 10px;
    transition: all 0.3s;
}
.btn-start{
    font-size: 16px;
    font-weight: 500;
    line-height: 21px;
    display: -ms-inline-flexbox;
    display: inline-flex;
    width: 150px;
    height: 28px;
    cursor: pointer;
    color: #fff;
    border: none;
    border-radius: 6px;
    background: #259BABFF ;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    margin-top: 15px;
    justify-content: center;
    text-decoration: none;
    transition: all 0.3s;
}
